<button type="button" name="library" {{action "submitLibrary"}}> Library: {{randomLibrary.name}}</button>

<button type="button" name="fakeLibrary" {{action "submitLibrary"}}>Fake Library: {{randomFakeLibrary.name}}</button>


